@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@background-color: #fff;

@screenMobile: 768px;
@screenDesktop: 1600px;
@screenDesktopLarge: 1920px;

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1920px;

  @media (max-width: @screenDesktop) {
    align-items: center;
    justify-content: center;
  }

  @media (max-width: @screenMobile) {
    padding: 24px 1rem;
  }
}

section {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 282px;

  @media (max-width: @screenDesktop) {
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
  }

  @media (max-width: @screenMobile) {
    gap: 20px;
  }
}

.main-image {
  width: 729px;
  height: 690px;
  content-visibility: auto;

  @media (max-width: @screenMobile) {
    width: 100%;
    height: auto;
  };
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 619px;

  @media (max-width: @screenMobile) {
    width: 100%;
  }
}

.main-content__title {
  line-height: 110%;
  font-size: 77px;
  font-weight: 700;
  margin-bottom: 24px;
  
  background: linear-gradient(90deg, #D4208C 0%, #E51726 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  @media (max-width: @screenMobile) {
    font-size: 35px;
    text-align: left;
  }
}

.main-content__steps {
  display: flex;
  flex-direction: column;
  gap: 18px;

  & > li {
    font-size: 38px;
    font-weight: 600;
    line-height: 198%;

    @media (max-width: @screenMobile) {
      font-size: 18px;
    }
  }
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #D4208C 0%, #E51726 100%);
  width: 387px;
  height: 81px;
  color: #fff;
  cursor: pointer;
  font-size: 23px;

  @media (max-width: @screenMobile) {
    border-radius: 6px;
    width: 251px;
    height: 50px;
    font-size: 14px;
  }
}

.modal-button {
  height: 81px;
  margin: 0 auto;

  @media (max-width: @screenMobile) {
    height: 45px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fefefe;
    margin-inline: 2rem;
    border-radius: 50px;
    max-width: 1270px;
    width: 100%;
    height: 652px;
    position: relative;

    @media (max-width: @screenMobile) {
      margin-inline: 1rem;
    }

    .modal-close {
      display: flex;
      flex: none;
      position: absolute;
      right: 45px;
      top: 45px;
    }

    .modal-input {
      height: 24px;
      border: 0;
      border-bottom: 1px solid gray;
      font-size: 18px;
      padding-bottom: 6px;

      &::placeholder {
        text-align: center;
      }
    }

    .error-message {
      color: red;
      font-size: 12px;
    }

    .modal-title {
      text-align: center;

      @media (max-width: @screenMobile) {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .success-section {
      display: none;
      flex-direction: column;
      gap: 2rem;

      & > * {
        text-align: center;
      }
    }
  }

  .registration-form {
    max-width: 620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-inline: 2rem;

    @media (max-width: @screenMobile) {
      margin-inline: 1rem;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}